body {
    background-image: url('../assets/coming-soon-bg.png');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    & > h1 {
        color: #121111;
        background-color: #D4E0EB;
        padding: 8px;
        border-radius: 4px;
    }
}